<div class="row">
    <div class="col-12">
        <ul class="is-list is-center">
            <li class="is-list-li"><a href="{{ google_login }}"><i class="icon ion-logo-googleplus icon-is"></i></a> </li>
            <li class="is-list-li"><a href="{{ facebook_login }}"><i class="icon ion-logo-facebook icon-is"></i></a> </li>
            <li class="is-list-li"><a href="{{ printerest_login }}"><i class="icon ion-logo-pinterest icon-is"></i></a> </li>
            <li class="is-list-li"><a href="{{ twitter_login }}"><i class="icon ion-logo-twitter icon-is"></i></a> </li>
        </ul>
        <p class="text-center">{{ 'o'|trans }}</p>
    </div>

    <div class="col-12">
        {{ form_start(form, {'attr': {'class': 'mb-5','action': '/'~app.request.locale ~'/signup'} }) }}

        <div class="form-group">
            {{ form_widget(form.person.name) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.user.email) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.user.password) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.person.country) }}
        </div>
        <div class="form-group">
            <input type="hidden" name="isvalid" value="" class="isvalid"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>