{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Error!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('build/login.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

    {% block header %}{% endblock %}

    <div class="container  is-login is-c-home">
        <div class="flex-row">
            <div class="col-12 col-md-6 mx-md-auto">
                <a class="navbar-brand" href="{{ url('user_login') }}"><img class="logo" src="{{ asset('build/static/logo.jpg') }}" /> </a>
                <div class="is-box ch-password">
                    {% if form is defined  %}
                        {% include 'front/user/_change_password_form.html.twig' with {'form':form} %}
                    {% else %}
                        {% include success ? 'front/user/_change_password_success.html.twig' : 'front/user/_change_password_error.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}